#
# Backend (genesis) configuration
# See https://github.com/simonwep/genesis for more information
#

# Database location
GENESIS_DB_PATH=.data

# JWT secret known only to your token generator
GENESIS_JWT_SECRET=

# JWT expirations in minutes
GENESIS_JWT_ACCESS_TOKEN_EXPIRATION=15
GENESIS_JWT_REFRESH_TOKEN_EXPIRATION=120960

# Gin mode, either test, release or debug
GENESIS_GIN_MODE=release

# Zap loggger, either production or development
GENESIS_LOG_MODE=production

# Port to listen on
GENESIS_PORT=80

# Users to be created
GENESIS_CREATE_USERS=foo:3Ri3zVPF,bar:CnByvgSm

# Allowed key pattern
GENESIS_KEY_PATTERN=^[\w]{0,32}$

# Maximum size of each key in kilobytes
GENESIS_DATA_MAX_SIZE=512

# Maximum amount of datasets per user
GENESIS_KEYS_PER_USER=2

#
# Frontend (ocular) configuration
# See https://github.com/simonwep/ocular for more information
#

# Optional ackee tracker details
# See https://github.com/electerious/Ackee
OCULAR_ACKEE_HOST=
OCULAR_ACKEE_DOMAIN_ID=

# Backend host, usually /api if hosted locally and used via proxy
OCULAR_GENESIS_HOST=/api

# Optional, pre-filled login credentials for local testing
OCULAR_TEST_USERNAME=
OCULAR_TEST_PASSWORD=
